@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto Mono', monospace;
}
/* .glassEffect {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
} */
/* React HTML Audio */
.rhap_container {
  @apply bg-transparent col-span-2 p-0 flex-col-reverse !important;
}
.rhap_time {
  @apply text-base-content !important;
}
.rhap_additional-controls {
  @apply hidden !important;
}
.rhap_progress-indicator,
.rhap_progress-filled {
  @apply bg-primary !important;
}
.rhap_progress-indicator{
  @apply h-4 w-3 rounded-none rounded-b-full !important
}
.rhap_download-progress {
  @apply bg-base-200 !important;
}
.rhap_progress-bar-show-download {
  @apply bg-base-100 !important;
}
